<launch>
    <!--Path to resulting Excel log file-->
    <arg name="log_filepath" default="~/output.xlsx" />
    
    <!--Device ID for connected Kinect-->
    <arg name="device_id" default="#1" />
    
    <!--Path to CNN model-->
    <arg name="model_path" />
    
    <!--Kinect version used-->
    <arg name="kinect_v1" default="true" />
    <arg if="$(arg kinect_v1)" name="kinect_v2" default="false" />
    <arg unless="$(arg kinect_v1)" name="kinect_v2" default="true" />
    
    <!--If using Kinect from Xbox One-->
    <group if="$(arg kinect_v2)" >
        <!--Start the kinect2_bridge-->
        <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
            <arg name="base_name" value="camera" />
            <arg name="depth_method" value="cpu" />
            <arg name="reg_method" value="cpu" />
            <remap from="/camera/hd/image_color_rect" to="/camera/rgb/image_rect_color" />
            <remap from="/camera/hd/image_depth_rect" to="/camera/depth_registered/image_raw" />
            <remap from="/camera/hd/camera_info" to="/camera/rgb/camera_info" />
        </include>
    </group>
    
    <!--If using Kinect from Xbox One-->
    <group if="$(arg kinect_v2)" >
        <!--Start the kinect2_bridge-->
        <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
            <arg name="base_name" value"camera" />
            <remap from="/camera/rgb/image" to="/camera/rgb/image_rect_color" />
            <remap from="/camera/depth/image" to="/camera/depth_registered/image_raw" />
        </include>
    </group>
    
    <!--Start synchronization nodelet-->
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
        
        <!--Remap input topics-->
        <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
        <remap from="depth/image" to="/camera/depth_registered/image_raw"/>
        <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
        
        <!--Set approximate synchronization-->
        <param name="approx_sync" value="true"/>
    </node>
    
    <!--Start image segmentation node-->
    <node pkg="desktop_object_detection" type="image_segmentation.py" name="image_segmentation" />
    
    <!--Start Excel logger node-->
    <node pkg="desktop_object_detection" type="excel_logger.py" name="excel_logger" args="$(arg log_filepath)" />
    
    <!--Start CNN node for object recognition-->
    <node pkg="desktop_object_detection" type="CNN.py" name="CNN" args="$(arg model_path)" />
</launch>