<launch>  
    <!--Path and prefix name for the generated bag file-->
    <arg name="bag_prefix" />
    
    <!--Device ID for connected Kinect-->
    <arg name="device_id" default="#1" />
    
    <!--Kinect version used-->
    <arg name="kinect_v1" default="true" />
    <arg if="$(arg kinect_v1)" name="kinect_v2" default="false" />
    <arg unless="$(arg kinect_v1)" name="kinect_v2" default="true" />
    
    <!--If using Kinect from Xbox 360-->
    <group if="$(arg kinect_v1)" >
        <!--Start the freenect_camera driver-->
        <include file="$(find freenect_launch)/launch/freenect.launch" >
            <arg name="depth_registration" value="true" />
            <arg name="device_id" value="$(arg device_id)" />
        </include>
    </group>
    
    <!--If using Kinect from Xbox One-->
    <group if="$(arg kinect_v2)" >
        <!--Start the kinect2_bridge-->
        <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
            <arg name="base_name" value="camera" />
            <arg name="depth_method" value="cpu" />
            <arg name="reg_method" value="cpu" />
        </include>
    </group>

    <!--Record a bag of the Kinect data-->
    <group if="$(arg kinect_v1)" >
        <node pkg="rosbag" type="record" name="rosbag_record_kinect" args="record -o $(arg bag_prefix) /camera/rgb/camera_info /camera/rgb/image_rect_color /camera/depth_registered/image_raw" />
    </group>
    <group if="$(arg kinect_v2)" >
        <node pkg="rosbag" type="record" name="rosbag_record_kinect" args="record -o $(arg bag_prefix) /camera/hd/image_color_rect /camera/hd/image_depth_rect /camera/hd/camera_info" />
    </group>
</launch>